/*
html,
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
}



button {
  border: 1px solid lightgray;
  background-color: transparent;
  height: 50px;
  Width: 50px;
  border-radius: 4px;
}


button:hover {
  border: 1px solid gray;
  cursor: pointer;
}

button:focus {
  outline: 0;
}
*/